<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lm.employee.mapper.EmployeeMapper">

	<!--查询用户登录密码-->
	<select id="selectPassword"  parameterType="java.lang.String" resultType="java.lang.String">
		select password from employee  where empl_id=#{emplId}
	</select>

	<!--查询用户姓名-->
	<select id="selectName"  parameterType="java.lang.String" resultType="java.lang.String">
		select empl_name from employee  where empl_id=#{emplId}
	</select>

	<!--查询用户权限-->
	<select id="selectAuth"  parameterType="java.lang.String" resultType="com.lm.employee.entity.Auth">
		select  distinct a.auth_id,a.auth_name
        from auth a ,employee e, role_empl re, role_auth ra
        where a.auth_id = ra.auth_id and re.role_id = ra.role_id and re.empl_id = e.empl_id and e.empl_id = #{emplId}
	</select>

	<!--查询员工个人基本信息-->
	<select id="selectOneEmloyee"  parameterType="java.lang.String" resultType="com.lm.employee.entity.Employee">
        select * from employee  where empl_id=#{emplId}
    </select>

	<!--查询所有员工基本信息-->
	<select id="selectAllEmloyee" resultType="com.lm.employee.entity.Employee">
		select * from employee
	</select>

	<!--修改密码-->
	<update id="updatePassword"  parameterType="java.lang.String">
        update employee set password=#{newPwd}  where empl_id=#{emplId} and password=#{oldPwd}
    </update>

	<!--查询权限-->
	<select id="selectAu"  parameterType="java.lang.String" resultType="com.lm.employee.entity.Test">
		select distinct a.* from auth a
			INNER JOIN role_auth b on a.auth_id=b.auth_id
			INNER JOIN role c on b.role_id=c.role_id
			INNER JOIN role_empl d on c.role_id=d.role_id
			INNER JOIN employee e on d.empl_id=e.empl_id
			where e.empl_id=#{emplId}
	</select>

	<!--管理员删除某个员工-->
	<delete id="deletEmployee"  parameterType="java.lang.String">
          delete from employee where empl_id=#{emplId}
    </delete>

	<!--管理员修改某个员工的资料-->
	<update id="updateEmployee"  parameterType="com.lm.employee.entity.Employee">
        update employee set empl_id=#{emplId}
		<if test="emplName != null and emplName != ''">
		,empl_name=#{emplName}
		</if>
		<if test="sex != null and sex != ''">
			,sex=#{sex}
		</if>
		<if test="mobile != null and mobile != ''">
			,mobile=#{mobile}
		</if>
		<if test="email != null and email != ''">
			,email=#{email}
		</if>
		<if test="idCard != null and idCard != ''">
			,id_card=#{idCard}
		</if>
		<if test="birthday != null and birthday != ''">
			,birthday=#{birthday}
		</if>
		<if test="nativePlace != null and nativePlace != ''">
			,native_place=#{nativePlace}
		</if>
		<if test="nation != null and nation != ''">
			,nation=#{nation}
		</if>
		<if test="address != null and address != ''">
		,address=#{address}
    	</if>
		<if test="education != null and education != ''">
			,education=#{education}
		</if>
		<if test="school != null and school != ''">
			,school=#{school}
		</if>
		<if test="major != null and major != ''">
			,major=#{major}
		</if>
		<if test="ploityface != null and ploityface != ''">
			,ploityface=#{ploityface}
		</if>
		<if test="deptNo != null and deptNo != ''">
			,dept_no=#{deptNo}
		</if>
		<if test="stationName != null and stationName != ''">
			,station_name=#{stationName}
		</if>
		<if test="remarks != null and remarks != ''">
			,remarks=#{remarks}
		</if>
         where empl_id=#{emplId}
    </update>

	<!--添加新员工-->
	<insert id="addNewEmployee" parameterType="com.lm.employee.entity.Employee">
		insert into employee values (
		<if test="emplId != null and emplId != ''">
			#{emplId},
		</if>
		<if test="password != null and password != ''">
			#{password},
		</if>
		<if test="emplName != null and emplName != ''">
			#{emplName},
		</if>
		<if test="sex != null and sex != ''">
			#{sex},
		</if>
		<if test="mobile != null and mobile != ''">
			#{mobile},
		</if>
		<if test="email != null and email != ''">
			#{email},
		</if>
		<if test="idCard != null and idCard != ''">
			#{idCard},
		</if>
		<if test="birthday != null and birthday != ''">
			#{birthday},
		</if>
		<if test="nativePlace != null and nativePlace != ''">
			#{nativePlace},
		</if>
		<if test="nation != null and nation != ''">
			#{nation},
		</if>
		<if test="address != null and address != ''">
			#{address},
		</if>
		<if test="education != null and education != ''">
			#{education},
		</if>
		<if test="school != null and school != ''">
			#{school},
		</if>
		<if test="major != null and major != ''">
			#{major},
		</if>
		<if test="ploityface != null and ploityface != ''">
			#{ploityface},
		</if>
		<if test="deptNo != null and deptNo != ''">
			#{deptNo},
		</if>
		<if test="stationName != null and stationName != ''">
			#{stationName},
		</if>
		<if test="remarks != null and remarks != ''">
			#{remarks}
		</if>
		)
	</insert>
</mapper>